APP_POSTGRES__HOST=localhost
APP_POSTGRES__PORT=5432
APP_POSTGRES__USER=lamhung
APP_POSTGRES__PASSWORD=010101
APP_POSTGRES__DATABASE=talk2book
APP_PROJECT_NAME="Talk 2 Book"
APP_API_V1_STR=api/v1
APP_LOGGING__LEVEL="INFO" #DEBUG/INFO/WARNING/ERROR/CRITICAL
APP_LOGGING__OUTPUT="console" # console | file | both
APP_LOGGING__FILE_PATH="default" # default directory: backend/log/backend.log or custom directory path (ex: /var/log/talk2book/backend.log)
APP_ACCESS_TOKEN_EXPIRE_MINUTES=15
APP_REFRESH_TOKEN_EXPIRE_DAYS=7
APP_SECRET_KEY=f528196732e95b603041ba3628b839196ee278f89941633206bf46d217d42621
APP_JWT_ALG=HS256
